/* BASIC STYLES HERE */
.quotes:hover +.hide{
    
    
    display:block;
    
    color: red;

}
.hide{
    display:none;
   
}


.quotes{
    bottom: 0px;
}
@media only screen and (max-width: 768px) {
    .todo {
      display: none !important;
    }
}